* {
    margin: 0;
}
html, body {
    height: 100%;
    min-width:400px;
    background-color:lightgray;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
.footer {
    background-color:#008454;
    color:white;
}
#footer-container {
    max-width:1400px;
    margin:0 auto;
}
header {
    background-color:lightgray;
    height:140px;
    max-width:1400px;
    margin:0 auto;
}
#logo {
    height:140px;
    width:400px;
}
nav {
    background-color:#008454;
    height:30px;
}
ul {
    list-style-type: none;
    color:white;
    max-width:1400px;
    margin:0 auto;
}
li:first-child {
    margin-left:0px;
}
li {
    display: inline;
    line-height:30px;
    margin-left:20px;
    margin-right:20px;
    text-align:center;
}
a {
    color:white;
}
a:hover {
    color:papayawhip;
}
#content {
    max-width:1400px;
    margin:0 auto;
}
#player-information {
    height:140px;
    width:400px;
    float:right;
    text-align:right;
}
#currency {
    display:inline-block;
    border:1px solid gray;
    border-radius:3px;
    padding:2px 8px;
    min-width:70px;
    background-color:white;
}
#currency-icon {
    margin-left:3px;
    margin-right:8px;
}
#player-location {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    background-color:mediumseagreen;
    padding:0px;
    width:200px;
    height:30px;
    line-height:30px;
    padding-right:8px;
    margin-left:25px;
    color:white;
    font-size:10pt;
    letter-spacing:2px;
}
#player-location:before {
    position:absolute;
    left:-30px;
    display:inline-block;
    vertical-align:middle;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent mediumseagreen transparent;
}
.icons {
    background-color:gray;
    height:20px;
    width:20px; 
    vertical-align:middle;
}
#avatar {
    display:inline-block;
    width:100px;
    height:100px;
    margin:4px;
    border:1px solid gray;
    vertical-align:top;
    position:relative;
    background-color:white;
}
#pet {
    vertical-align:bottom;
    margin-right:-6px;
    margin-bottom:0px;
}
#username {
    position:absolute;
    bottom:0;
    left:0;
    width:100px;
    text-align:center;
    font-size:10pt;
}